iframe.vectary-canvas [
  id='c9d4a16c-e9bb-4a07-b797-cd861d183019'
  src='https://www.vectary.com/viewer/v1/?model=c9d4a16c-e9bb-4a07-b797-cd861d183019&env=studio3&showInteractionPrompt=0&enableApi=1'
  frameborder='0'
  width='100%'
  height='100%']
