// Colors
$brand-grey: (
  primary: #09090b
);

$brand-white: (
  primary: #f4f5f6,
  dark: #dde0e3
);

$brand-blue: (
  primary: #03112b
);

$box-shadow: (
  divider: -1px 0 0 0 map-get($brand-white, 'dark'),
  underline: 0 1px 0 0 map-get($brand-blue, 'primary')
);

// Bootstrap variables
// Fonts
$font-family-sans-serif: 'Roboto', sans-serif;

$font-size-base: 1rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.75rem;
$font-size-xxs: 0.625rem;

$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.625rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1.125rem;

// Body
$body-bg: map-get($brand-white, 'primary');
$body-color: map-get($brand-grey, 'primary');
